* {
  box-sizing: border-box;
  
}

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 15%;
}

div.components {
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  font-size: 4.5em;
  font-family: Georgia, 'Times New Roman', Times, serif ;
  text-decoration-thickness: 8px;
  margin: 0;
  /* color:rgb(171, 71, 188) */
  color:rgb(171, 71, 188)
}

div.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn{
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: black;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.input {
  align-items: center;
  padding: 20px 30px;
  margin-top: 50px;
  border-radius: 18px;
  width: 100%;
  margin-left: 20px;
  min-width: 700px;
  max-width: 700px;
  font-size: 20px;
  outline-color: rgb(123, 31, 162);

}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}