* {
  box-sizing: border-box;
}

body{
    background-color: 	#181818;
}

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 15%;
}

div.components {
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  font-size: 4.5em;
  text-decoration-thickness: 8px;
  margin: 0;
  color: #e8eaed
}

div.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn{
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.input {
  align-items: center;
  padding: 12px 30px;
  margin: 20px;
  border-radius: 18px;
  width: 100%;
  min-width: 600px;
  max-width: 600px;
  font-size: medium;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}